.card{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    height: 100%;
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 3rem;
    z-index: 1;
    overflow: hidden;
    box-shadow: 5px 5px 10px 7px rgba(66, 66, 66, 0.103);
    gap: 1rem;
    & > i {
        font-size: 60px;
        z-index: 1;
    }
    &-content{
        z-index: 1;
        flex: 1;
        &-value{
            font-size: 36px;
            font-weight: bold;
            margin-bottom: 20px;
        }

    }
}
.card::before {
    content: "";
    width: 100%;
    z-index: 0;
    padding-top: 100%;
    border-radius: 50%;
    background-image: linear-gradient(
    to top right,
    #fdbd10,
    #fdbd10
    );
    position: absolute;
    left: -50%;
    top: 0;
    transform: scale(0);
    transition: transform 0.8s ease 0s;
}

.card:hover::before {
    transform: scale(2.5);
}

.card:hover {
    & > i {
        color: #fff;
    }
    & span{color: #fff;}
}