.dashboard{
    display: flex;
    background-color: rgb(248, 248, 248);
    gap: 2rem;
    padding: 2rem;
    flex-direction: column;
    &-row1{
        display:flex;
        flex-wrap: wrap;
        gap: 2rem;
        width: 100%;
        &-card{
            width: calc(50% - 1rem);
            display: flex;
            flex-wrap: wrap;
            gap: 2rem;
            &-1{
                width: calc(50% - 1rem);
                height: 10rem;
            }
            &-2{
                width: calc(50% - 1rem);
                height: 10rem;
            }
            &-3{
                width: calc(50% - 1rem);
                height: 10rem;
            }
            &-4{
                width: calc(50% - 1rem);
                height: 10rem;
            }
            @media only screen and (max-width: 600px){
                &-1{
                    width: 100%;
                    height: 10rem;
                }
                &-2{
                    width: 100%;
                    height: 10rem;
                }
                &-3{
                    width: 100%;
                    height: 10rem;
                }
                &-4{
                    width: 100%;
                    height: 10rem;
                }
            }
        }
        &-chart{
            width: calc(50% - 1rem);
            background-color: #fff;
            box-shadow: 5px 5px 10px 7px rgba(66, 66, 66, 0.103);
            border-radius: 10px;
        }
        @media only screen and (max-width: 1024px){
            &-card{
                width: 100%;
            }
            &-chart{
                width: 100%;
            }
        }
    }
    &-row2{
        width: 100%;
        display: flex;
        gap: 2rem;
        flex-wrap: wrap;
        &-topfood{
            display: block;
            width: calc(40% - 1rem);
            
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 5px 5px 10px 7px rgba(66, 66, 66, 0.103);
        }
        &-orders{
            display: block;
            width: calc(60% - 1rem);
            
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 5px 5px 10px 7px rgba(66, 66, 66, 0.103);
        }
        @media only screen and (max-width: 1024px){
            &-topfood{
                width: 100%;
            }
            &-orders{
                width: 100%; 
            }
        }
    }
}

.title{
    color: #fff;
    font-weight: 400;
    font-size: 24px;
    padding: 15px;
    border-radius: 10px 10px 0 0 ;
    background-color: #0066b2;
}