.products{
    background-color: rgb(248, 248, 248);
    padding: 15px 2rem;
}

.btn-create{
    margin: 15px 0 10px 0;
    display: block;
}

.handle{
    display: flex;
    gap: 10px;
    & > div > .bx-edit-alt {
        color: #fdbd10;
        font-size: 24px;
        cursor: pointer;
    }
    & > div > .bx-trash {
        color: #ec1c24;
        font-size: 24px;
        cursor: pointer;
    }
}