$baseColor: 	#0066b2;
$borderRadius: 10px;
$imageBig: 100px;
$imageSmall: 60px;
$padding: 10px;

.table{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.pages{
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-right: 30px;
    margin-bottom: 20px;
    &-item{
        cursor: pointer;
        padding: 5px 10px;
        border-radius: 1000%;
    }
    
}

.pages-item{
    &.active{
        background-color: lighten($baseColor, 40%);
        color: #fff;
    }
}

table {
    width: 100%;
    
    thead tr th{
        font-size: 18px;
        font-weight: bold;
        background-color: lighten($baseColor, 40%);
    }

    td, th { 
       color: darken($baseColor, 10%);
       padding: $padding; 
       text-align: center;
    }
    
    td {
       text-align: center;
       vertical-align: middle;
       font-size: 1.1rem;
       &:last-child {
          font-weight: 400;
       }
    }
    
    tr {     
        vertical-align: middle;
       &:nth-child(2n) { background-color: white; }
       &:nth-child(2n+1) { background-color: lighten($baseColor, 55%) }
       cursor: pointer;
    }
    
    tr:hover{
        background-color: lighten($baseColor, 20%);
        td{
            color: white;
        }
        
    }
 }
 
 