.navbar{
    width: 64px;
    height: 100vh;
    background-color: rgba(255, 192, 203, 0.308);
    &-logo{
        background-color: rgb(25, 95, 199);
        width: 100%;
        & > img{
            width: 80%;
            height: auto;
        }
    }
    &-list{
        margin-top: 10px;
        width: 100%;
        &-item{
            cursor: pointer;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 15px 0 15px 20px;
            & > i{
                margin-right: 20px;
                font-size: 24px;
            }
            & > span{
                font-size: 16px;
                display: none;
            } 
            &:hover{
                background-color: blue;
            }
        }
        
    }
    &:hover{
        width: 270px;
        span{
            display: block;
        }
    }
}