body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all .3s linear;
  color: #2e2e2e;
}

ul{
  list-style-type: none;

}

a{
  color: unset;
  text-decoration: none;
}

.btn{
  cursor: pointer;
  border: none;
  padding: 10px 15px;
  font-size: 20px;
  border-radius: 5px;
  color: #ffffff;
  background-color: #fdbd10;
  
}
.btn:hover{
    background-color: #ffd76a;
  }